# Logs
logs
*.log

# dotenv environment variables file
.env
.env.*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.vs/

# Docker
.dockerignore
docker-compose.override.yml

# OpenTelemetry specific
*.otlp

# Build outputs
obj/
bin/